.catalog{
	padding: 5px;
	height: 90%;
	overflow: scroll;
	overflow-x: hidden;
}
.catalog a{
	display: block;
	margin: 50px 0;
}
.date{
	font-size: 14px;
	color: #ccc;
}
.read-all{
	margin-top: 20px;
	text-align: right;
}
