body,
html,
header,
article {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
/*设置滚动条样式*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
	background-color:rgba(241,241,241,0.9)
}
/*滚动条样式结束*/
::selection {
    color: #fff;
    text-shadow: none;
    background: #0085a1;
}
body{
	font-family: "Helvetica Neue", Helvetica, 微软雅黑, Arial, Helvetica, sans-serif;
    font-size: 16px;
	color: #222;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all 2s;
}
/*header部分*/
h1{
	font-size: 50px;
}
h1>small{
	font-size: 30px;
}
@media(max-width: 960px){
	h1{
		font-size: 30px;
	}
	h1>small{

		 font-size: 15px;
	 }
}
h2{
	font-size: 24px;
}
header{
	overflow: hidden;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.258824) 2px 0px 5px 0px;
	height: 100%;
	width: 25%;
	float: left;
	color: #fff;
}

@media(max-width: 960px) {
	header {
		width: 100%;
		height: 150px;
	}
}
#inner{
	width: 100%;
	height: 100%;
	background-color: #1fa67a;
	transition: all 2s linear;
}

.nav {
	margin: 16px auto;
	position: relative;
	float: left;
	left: 50%;
}

.nav li {
	margin: 0 10px;
	/*display: inline-block;*/
	float: left;
	position: relative;
	right: 50%;
}

@media(max-width: 960px) {
	.nav li {
		margin: 0 20px;
	}
}

header a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-family: "Architects Daughter","Papyrus";
	/*Architects */
	font-weight: bold;
}


.hgroup{
	position: absolute;
	top: 50%;
	padding: 30px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
#console{
	font-family: "Consolas", "Liberation Mono", Menlo, Courier, monospace;
}
/*打字特效*/
#typed{
	display: inline-block;
	font-size:14px;
}
#typed-cursor{
opacity: 1;
-webkit-animation: blink 0.7s infinite;
-moz-animation: blink 0.7s infinite;
animation: blink 0.7s infinite;
}
@keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
@-webkit-keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
@-moz-keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
/*打字特效结束*/

/*主体部分*/
article {
	width: 75%;
	float: right;
	/*overflow: scroll;*/
	overflow-x: hidden;
	/*position: relative;*/
}

@media(max-width: 960px) {
	article {
		width: 100%;
		height: auto;
		overflow: visible;
	}
}
.wrapper,.demowrapper{
	padding: 30px 7% 0;
}

article div{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
article h2{
	margin: 30px 0;
}
article a{
	color: #616161;
}
article .link{
	display: block;
	margin: 15px 0 5px;
}
article .link h3{
	font-size: 18px;
}
article a:hover{
	color: #004d40;
	/*如果能根据颜色改变而改变就不错*/
}
article p{
	margin-bottom: 10px;
	line-height: 1.5em;
	text-align: justify;
	word-wrap: break-word;
}
article ul li,article ol li,article table tr{
	line-height: 1.5;
}
article table{
	border-collapse: collapse;
	margin: 8px 0;
}
article table thead{
	border-bottom: 1px solid #666;
	background-color: #f8f8f8;
}
article table tr:nth-child(odd){
	background-color: #eee;
}
.block{
	display: block;
	margin-top: 30px;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
hr{
	margin-top: 20px;
	border: none;
	border-top: 1px solid #ccc;
}
.wrapper img{
	max-width: 80%;
}
/*下划线动画*/
.bar:before,.bar:after{
		content: '';
		height: 1px;
		width: 0;
		/*bottom: 10px;*/
		position: absolute;
		/*background:#fff;*/
		background-color: #222;
		-webkit-transition: 0.8s ease all;
		-moz-transition:0.8s ease all;
		transition: 0.8s ease all;
		bottom: 0;
	}
.bar:before{
		left: 0;
}
.bar:after{
		right: 0;
}
.down:hover ~ .bar:before,.down:hover ~ .bar:after{
	width: 70%;
}
.input:focus ~ .bar:before,.input:focus ~ .bar:after{
	width: 70%;
}
	/*这里的颜色也应该随着主色改变*/

/*低栏*/
footer{
	/*width: 100%;*/
	height: 50px;
	background-color: #222;
	color: #fff;
	line-height: 50px;
	/*position: absolute;*/
}
@media(max-width: 960px){
	footer .text-left,.none{
		display: none;
	}
}
footer .row{
	margin: 0 10px;
}
footer a{
	color: #eee;
}
.red{
	color: #db4437;
}
/*demo界面*/
.demos{
	padding: 20px;

}
.demos .row{
	margin: 20px 0;
}
.input{
		width: 90%;
		height: 40px;
		outline: 0;
		border: none;
		font-size: 20px;
		padding: 0;
}
.item {
	width: 25%;
	min-width: 200px;
}
.item .iteminner{
	margin: 5px;
	background-color: #f1f1f1;
}
.item .iteminner:hover{
	color: #FFF;
}
.item p{
	margin: 5px 5px;
}
@media(max-width: 960px) {
	.item {
		width: 33%;
	}
}

@media(max-width: 600px) {
	.item {
		width: 50%;
	}
}
/*设置demo图片*/
.demowrapper img{
	width: 100%;
	vertical-align: top;
}
