@media(max-width: 960px) {
	header {
		width: 100%;
		height: 300px;
	}
}
.nav ~ h2{
	clear: both;
	margin-left: 10px;
	line-height: 1.3;
}
.catalog{
	clear: both;
	margin-top: 10px;
	padding: 5px;
	height: 90%;
	overflow: scroll;
	overflow-x: hidden;
}
.catalog li{
	margin-left: 20px;
}
.catalog li ul{
	margin-left: 15px;
}
.catalog a{
	display: block;
	margin: 30px 0;
}
article ul{
	list-style:disc;
}
article ol{
	list-style:decimal;
}
article h2{
	font-size: 30px;
	font-weight: bold;
}
article h3{
	font-size: 24px;
	margin: 18px 0;
}
article h4{
	font-size: 20px;
	margin: 14px 0;
}
article p{
	text-indent:32px;
}
/*多说头像圆角设置*/
#ds-reset .ds-avatar img{

}
