@media(max-width: 960px) {
	header {
		width: 100%;
		height: 300px;
	}
}
.nav ~ h2{
	clear: both;
	margin-left: 10px;
	line-height: 1.3;
}
.catalog{
	padding: 0 5px;
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	/*height: -moz-calc(100% - 126px);
	height: -webkit-calc(100% - 126px);
	heihgt: calc(100% - 126px);*/
	overflow: scroll;
	overflow-x: hidden;
}
.catalog li{
	margin-left: 20px;
}
.catalog li ul{
	margin-left: 15px;
}
.catalog a{
	display: block;
	margin: 5px 0 30px;
}

article ul{
	list-style:disc;
}
article ol{
	list-style:decimal;
}
article ol,article ul{
	margin-left: 16px;
}
article h2{
	font-size: 30px;
	font-weight: bold;
}
article h3{
	font-size: 24px;
	margin: 18px 0;
}
article h4{
	font-size: 20px;
	margin: 14px 0;
}
article p{
	line-height: 1.8em;
}
article blockquote{
	border-left: 5px solid #ddd;
	padding: 2px 10px 1px 20px;
	margin: 10px 0;
	color: #888;
}
article a{
	color: #ce2323;
}
/*多说头像圆角设置*/
#ds-reset .ds-avatar img{

}
