---
layout: base
favicon: favicon-rocket.ico
---
<script src="js/jquery.js"></script>
	<header>
		<div id="inner">
		{% include nav.html %}
		<div class="hgroup">
			<h1>{{ site.title }}</h1>
			<h1><small>{{ site.tagline }}</small></h1>
			<div id="console">
				<i class="cursor" id="typed" style="display: inline;">&nbsp;&gt; </i>
			</div>
			</div>
		</div>
	</header>
	<article>
		<div class="wrapper">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2>What I <i class="red pulse fa fa-heart"></i> to do</h2>
				</div>
				<div class="col-md-10 col-md-offset-1">

					<div class="col-lg-3 col-md-3 col-sm-1 text-center">
						<div class="iconbox down">
							<p><i class="fa fa-3x fa-code icon-shadow"></i></p>
							<h3>Write Code</h3>
						</div>
						<i class="bar"></i>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-1 text-center">
						<div class="iconbox down">
							<p><i class="fa fa-3x fa-area-chart icon-shadow"></i></p>
							<h3>Visualize</h3>
						</div>
						<i class="bar"></i>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-1 text-center">
						<div class="iconbox down">
							<p><i class="fa fa-3x fa-database icon-shadow"></i></p>
							<h3>Analyze</h3>
						</div>
						<i class="bar"></i>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-1 text-center">
						<div class="iconbox down">
							<p><i class="fa fa-3x fa-github icon-shadow"></i></p>
							<h3>Share Code</h3>
						</div>
						<i class="bar"></i>
					</div>
				</div>
				<div class="col-md-12 text-right">
					<a href="/about/" class="link block">
	 Know me more
	 <i class="fa fa-angle-double-right"></i></a>

				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12 text-center">
					<h2>Some demos and <i class="fa fa-code"></i></h2>
				</div>
			<div class="col-md-10 col-md-offset-1">
				<!-- {% for post in site.posts limit:4 %}
				<div class="col-md-3 text-center">
				<h3>demo.title</h3>
				<a href="" target="_blank">
				<img src="" alt=""/>
				</a>
				</div>
					{% endfor%} -->


					<div class="col-md-3 text-center">
						<h3>canvas动画</h3>
						<a href="/demo/" target="_blank">
							<img src="images/demos/1.jpg" alt="" />
						</a>
					</div>
					<div class="col-md-3 text-center">
						<h3>css动画</h3>
						<a href="/demo/" target="_blank">
							<img src="images/demos/2.jpg" alt="" />
						</a>

					</div>
					<div class="col-md-3 text-center">
						<h3>js动画</h3>
						<a href="/demo/" target="_blank">
							<img src="images/demos/3.jpg" alt="" />
						</a>

					</div>
					<div class="col-md-3 text-center">
						<h3>fontawesome</h3>
						<a href="/demo/" target="_blank">
							<img src="images/demos/4.jpg" alt="" />
						</a>
					</div>

				</div>

				<div class="col-md-12 text-right">
					<a href="/demo/" class="link block">
		          View more <i class="fa fa-angle-double-right"></i>
			  </a>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12 text-center">
					<h2>Five recent blog posts</h2>
				</div>
				{% for post in site.posts limit:5 %}
				<div class="col-md-10 col-md-offset-1 postlinkcontainer">
					<a href="{{ post.url }}" class="link down">
						<h3>{{ post.title }}<span class="pull-right">{{ post.date | date: "%B %Y" }}</span></h3>
					</a>
					<span class="bar"></span>
				</div>
				{% endfor %}
				<div class="col-md-12 text-right">
					<a href="/blog/" class="link block">View more <i class="fa fa-angle-double-right"></i></a>
				</div>
			</div>
		</div>
		{% include footer.html %}
	</article>

	<script src="js/typed.custom.js"></script>
	<script src="js/typecontrol.js"></script>
	<script src="js/changeColor.js"></script>
