<footer>
	<div class="row">
		<div class="col-md-4 text-left">
			Josephine {{ site.time | date: '%Y' }} <i class="fa fa-creative-commons"></i>
		</div>
		<div class="col-md-4 text-center">
			<i class="fa fa-pencil"></i> with <i class="red fa fa-heart"></i> &
			<i class="fa fa-music"></i>
			<a href="https://github.com/{{site.github_username}}">
				<i class="fa fa-code"></i> in <i class="fa fa-github-alt"></i>
			</a>
		</div>
		<div class="col-md-4 text-right none">
			{% if site.email %}
			<a href="mailto:{{site.email}}" title="email">
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
			</a>
			{% endif %}
		<a href="https://www.zhihu.com/people/{{site.zhihu_username}}" title="Zhihu">
			<i class="iconfont">知</i>
		</a>
			<a href="https://plus.google.com/107732395167416793005" title="google+">
				<i class="fa fa-google-plus"></i>
			</a>
			<a href="https://github.com/{{site.github_username}}" title="github repos">
				<i class="fa fa-github"></i>
			</a>
		</div>
	</div>
</footer>
