---
layout: base
---
<link rel="stylesheet" href="../css/blog.css">
<header>
	<div id="inner">
    {% include nav.html %}
	<!-- 这里是不是用include比较好，先这样，等最终效果出来的再说 -->
    <div class="catalog">
		{% for post in site.posts %}
   		 <a href="{{ post.url }}" class="link down">
   			 <h3>{{ post.title }}<i class="pull-right">{{ post.date | date: "%b %y" }}</i></h3>
   		 </a>
   	 {% endfor %}
    </div>
	</div>
</header>
<article>
  {{ content }}
  {% include footer.html %}
</article>
<script src="../js/blog.js"></script>
