---
layout: base
---
<link rel="stylesheet" href="{{ "/css/post.css " | prepend: site.baseurl }}">
<header>
	<div id="inner">
    {% include nav.html %}
	  <h2>{{ page.title }}</h2>
    <div class="catalog">
		<!-- 这里是目录部分 -->
    </div>
	</div>
</header>
<article>
	<div class="wrapper-header">
   <!-- Actions Left -->
   <div class="btn pull-left toggle" aria-label="目录"><i class="fa fa-align-justify"></i></div>
   <div class="btn pull-left" aria-label="搜索"><i class="fa fa-search"></i></div>
   <!-- Title -->
   <h1>
      <div class="title">{{ page.title }}</div>
   </h1>
   </div>
  <div class="wrapper">
    {{ content }}
    {% include comments.html %}
  </div>
  {% include footer.html %}
</article>
<script src="{{ "/js/post.js " | prepend: site.baseurl }}"></script>
<script src="//cdn.bootcss.com/highlight.js/9.2.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
/**
 * target _blank
 */
(function() {
    var aTags = document.querySelectorAll('article a:not([id])')
    for (var i = 0; i < aTags.length; i++) {
        aTags[i].setAttribute('target', '_blank')
    }
}());
</script>
