---
layout: base
---
<link rel="stylesheet" href="{{ "/css/post.css " | prepend: site.baseurl }}">
<header>	
    {% include nav.html %}
	  <h2>{{ page.title }}</h2>
    <div class="catalog">
		<!-- 这里是目录部分 -->
    </div>
</header>
<article>
  <div class="wrapper">
    {{ content }}
    {% include comments.html %}
  </div>
  {% include footer.html %}
</article>
<script src="{{ "/js/post.js " | prepend: site.baseurl }}"></script>
<script>
/**
 * target _blank
 */
(function() {
    var aTags = document.querySelectorAll('article a:not([id])')
    for (var i = 0; i < aTags.length; i++) {
        aTags[i].setAttribute('target', '_blank')
    }
}());
</script>
<script src="{{"/js/changeColor.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/js/scroll.min.js " | prepend: site.baseurl }}"></script>
